main {
	padding: 40px 20px;
	display: flex;
	justify-content: center;
}



.grid {
	max-width: 1600px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px; 
}

@media screen and (max-width: 2000px){
	main {
		padding: 1000px 1000px;
	}
}

@media (max-width: 990px){
	main {
		padding: 20px;
	}
}

@media (max-width: 800px){
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 480px){
	.grid {
	grid-template-columns: 1fr;
	}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	max-width: 70px;
}

ul {
	gap: 8px;
}

nav {
	padding: 10px 15px;
}